html
{
    padding: 0px;
    margin: 0px;
}
html, body
{
    height: 120%;
}
a
{
    color: deepskyblue;
    text-decoration: none;
}
body
{
    background-color: #111111; 
    
    /* background-image: url("../Resources/Images/test2.png"); */

    margin: 0px;

    font-family: Verdana, Georgia, Arial, Helvetica;

    color: #adadad;
    
    display: flex;
    flex-direction: column;
}
header
{
    /* margin-top: -18px; */

    border-width: 1px;
    /* border-top-style: solid; */
    border-color: #424242;
    border-bottom-style: solid;

    height: 50px;
    /* background-color: #1a1a1a; */
    background-color: #171717;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 0px;

    display: flex;
    flex-flow: row;
    flex-wrap: wrap;  

}
nav
{
    margin-right: 20px;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;  
}
p.header
{
    margin-top: 19px;
}
div.menu
{
    background-color: #111111;

    border-color: #424242;
    border-width: 1px;
    border-style: solid;
    
    
    border-bottom: 0px;
    border-left: 0px;

    margin-top: 5px;
    padding: 13px;    
}
a.menu
{
    color:#adadad;
    text-decoration: none;
} 
h2
{
    font-size: 28px;
}
main
{
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    min-height: 0px;
}
h2.fu
{
    margin-top: 0px;
}
div.tempHeader
{
    justify-content: left;

    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;

    width: 500px;
}

div.linebreak
{
    margin-top: 30px;

    border-width: 2px;
    border-style: solid; 
    border-color: #424242;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;

    width: 500;

    margin-bottom: 0px;
}
div.PDF
{
    border: none;
    min-height: 100%;
    min-width: 100%;
}

div.PDF, iframe
{
    border-width: 2px;
    border-style: solid; 
    border-color: #424242;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}
div.frame
{
    border-color: #424242;

    border-width: 1px;
    border-style: solid; 

    margin-bottom: 20px;
}
div.textframe
{
    margin-top: 0px;
    margin-bottom: 0px;

    padding-left: 25px;
    padding-right: 46px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 429px;

    background-color: #171717;
    /* border-style: solid; */
}
h3
{
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
}
footer
{
    flex-shrink: 0;

    margin-top: 0px;

    border-color: #424242;
    border-width: 1px;
    border-top-style: solid;

    height: 100px;

    background-color: #171717;
}

